.clock-container {
	width: 100%;
	overflow: hidden;
	height: 40px;
}
.clock-label {
	position: absolute;
	z-index: 10;
	color: #4F4F4F;
	background: rgba( 255, 255, 255, .5 );
	padding: .1em .5em;
	font-size: 8px;
	letter-spacing: .1em;
}
.utc-24-clock {
	position: relative;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #E5E5E5;
	border-top: 0;
	background: #F9F9F9;
	height: 10px;
	min-width: 1200px;

	.clock-hours {
	  font-size: 12px;
	  font-weight: 100;
	  height: 10px;
	}

	.hour-box {
		position: relative;
		display: inline-block;
		width: 4.1666666667%;
		height: 10px;
		.hour {
			position: relative;
			color: #4F4F4F;
			font-size: 12px;
			bottom: -20px;
			width: 36px;
			margin-left: -18px;
			text-align: center;
		}
		.line {
			position: absolute;
			width: 1px;
			height: 15px;
			background: #E5E5E5;
			bottom: -5px;
		}
	}


	.time-bar {
		height: 10px;
		width: 0%;
		background: #083995;
		-moz-transition: width 1s linear;
		-webkit-transition: width 1s linear;
		-ms-transition: width 1s linear;
		transition: width 1s linear;
		margin-top: -10px;
		position: relative;
		&:after {
			content: '|';
			color: #7e7e7e;
			position: absolute;
			right: -.1em;
			bottom: -.6em;
			font-size: 2em;
			text-indent: 12px;
			font-weight: lighter;
		}
	}
}