.map-container {
	position: relative;

	.site-header {
		position: absolute;
		z-index: 10;
		text-align: center;
		height: 100%;
		width: 100%;
		background: rgba(18, 96, 173, 0.5);
		color: #fff;
		vertical-align: middle;
		padding: 0;
	}

	img {
		margin-top: 2em;
	}

	#map-canvas {
		height: 500px;
		margin: 0px;
		padding: 0px
	}

	a.button {
		color: #fff;
		@include rem(font-size, 16px);
		padding: .5em 5em;
		&:hover {
			background: #fff;
			color: #083995;
			border-color: #fff;
		}
	}

	.site-title {
		a {
			color: #fff;
			text-decoration: none;
			&:hover {
				color: #fff;
			}
		}
	}

}