.date-bar {
	padding: .5em 1em;
	text-align: right;
	font-style: italic;
	border-bottom: 1px solid #869AAD;
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	background: rgba(255, 255, 255, 0.9);
}