@font-face {
  font-family: 'Axis', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  src: url('fonts/axis.otf');
}

@font-face {
  font-family: 'Dense', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  src: url('fonts/dense.otf');
}

// Attending Template
.page-template-templatesattending-php {
	
	color: #000;
	font-family: 'Dense';

	// Header
	.site-header {
		background: url('images/header-bg.png') no-repeat fixed transparent;
		background-size: cover;
		margin: 0;
		padding: 0px;
		max-width: 100%
	}

	.site-header-inner {
		margin: 0 auto;
		padding: 40px 40px 100px;
		max-width: 874px;
	}
	
	.main-navigation {
		display: none;
	}
	
	.event-dates{
		font-size: 38px;
		text-transform: uppercase;
	}
	
	.site-branding {
		padding: 80px 0 20px;
		text-align: center;
	}
	
	.site-title, .site-title a {
		color: #fff;
		font-family: 'Axis';
		font-size: 120px;
		line-height: 130px;
		text-decoration: none;
	}
	
	.site-description {
		color: #fff;
		font-size: 48px;
		line-height: 58px;
	}
	
	.newsletter-signup-form {
		
		padding: 0 100px;
		text-align: center;
		
		input[type="text"] {
			line-height: normal;
			font-size: 18px;
			padding: 10px;
			text-align: center;
			width: 100%;
		}
	}
	
	// Content
	.content-area {
		
		width: 100%;
		text-align: center;
		
		h3 {
			font-size: 36px;
			text-transform: uppercase;
		}
		
	}
	
	.entry-content {
	
		// Gravity Forms
		.gform_wrapper { 
	
			color: #fff;
			font-size: 28px;
		
			.ginput_container label {
				font-size: 22px;
			}
	
			input {
				font-size: 22px;
				padding: 12px;
				line-height: 24px;
			}
	
			.gfield_required {
				color: #fff;
			}
			
			.gform_footer {
				
				text-align: center;
				width: 100%;
				
				input[type="submit"] {
					color: #000;
					box-shadow: none;
					border-radius: 0;
					background: #fff;
					font-family: "Axis";
					text-transform: uppercase;
					line-height: 53px;
					padding: 6px 30px 0;
				}
			}
			
			
			// Validation
			.validation_error {
				color: #fff;
				text-align: center;
				margin: 0;
				text-decoration: underline;
			}
			
			.top_label .gfield_error {
				width: 100%;
			}
		}
		
		// Confirmtation
		.gform_confirmation_message {
			font-size: 32px;
			color: #fff;
			text-align: center;
			padding: 0;
			line-height: 36px;
			
			p:first-child {
				margin-bottom: 20px;
			}
			
			p {
				margin-bottom: 0;
			}
		}
		
	}
	
	.edit-link {
		display: none !important;
	}
	
	.attendee-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	.attendee-name {
		font-size: 36px;
		display: block;
	}
	
	.attendee-byline {
		font-size: 28px;
		display: block;
	}
	
	// Footer
	.site-footer {
		text-align: center;
	}
	
	.site-info, .site-info a {
		color: #000;
		font-size: 28px;
		text-decoration: none;
	}
	

}