@font-face {
  font-family: 'Axis', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  src: url('fonts/axis.otf');
}

@font-face {
  font-family: 'Dense', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  src: url('fonts/dense.otf');
}

// Attending Template
.page-template-templatesattending-php {

	color: #000;
	font-family: 'Dense';

	// Header
	.site-header {
		background: url('images/header-bg.png') no-repeat fixed transparent;
		background-size: cover;
		margin: 0;
		padding: 0px;
		max-width: 100%
	}

	.site-header-inner {
		margin: 0 auto;
		padding: 40px 40px 100px;
		max-width: 874px;
	}

	.main-navigation {
		display: none;
	}

	.event-dates{
		font-size: 38px;
		text-transform: uppercase;

		@include bp ( mediummax ) {
			font-size: 32px;
		}

		@include bp ( smallmax ) {
			font-size: 24px;
		}
	}

	.site-branding {
		padding: 80px 0 20px;
		text-align: center;

		@include bp ( mediummax ) {
			padding: 60px 0 10px;
		}

		@include bp ( smallmax ) {
			padding: 40px 0 0px;
		}

	}

	.site-title, .site-title a {
		color: #fff;
		font-family: 'Axis';
		font-size: 120px;
		line-height: 130px;
		text-decoration: none;

		@include bp ( mediummax ) {
			font-size: 80px;
			line-height: 90px;
		}

		@include bp ( smallmax ) {
			font-size: 40px;
			line-height: 50px;
		}

	}

	.site-description {
		color: #fff;
		font-size: 48px;
		line-height: 58px;

		@include bp ( mediummax ) {
			font-size: 36px;
			line-height: 42px;
		}

		@include bp ( smallmax ) {
			font-size: 30px;
			line-height: 34px;
		}
	}

	.newsletter-signup-form {

		padding: 0 100px;
		text-align: center;

		input[type="text"] {
			line-height: normal;
			font-size: 18px;
			padding: 10px;
			text-align: center;
			width: 100%;
		}
	}

	// Content
	.content-area {

		width: 100%;
		text-align: center;

		h3 {
			font-size: 36px;
			text-transform: uppercase;
		}

	}

	.entry-content {

		@include bp ( mediummax ) {
			margin: 0;
		}

		// Gravity Forms
		.gform_wrapper {

			color: #fff;
			font-size: 28px;

			.ginput_container label {
				font-size: 22px;
			}

			input {
				font-size: 22px;
				padding: 12px;
				line-height: 24px;
				border-radius: 0px;
			}

			.gfield_required {
				color: #fff;
			}

			.gform_footer {

				text-align: center;
				width: 100%;

				input[type="submit"] {
					color: #000;
					box-shadow: none;
					border-radius: 0;
					background: #fff;
					font-family: "Axis";
					text-transform: uppercase;
					line-height: 53px;
					padding: 6px 30px 0;
				}
			}


			// Validation
			.validation_error {
				color: #fff;
				text-align: center;
				margin: 0;
				text-decoration: underline;
			}

			.top_label .gfield_error {
				width: 100%;
			}
		}

		// Confirmtation
		.gform_confirmation_message {
			font-size: 32px;
			color: #fff;
			text-align: center;
			padding: 0;
			line-height: 36px;

			p:first-child {
				margin-bottom: 20px;
			}

			p {
				margin-bottom: 0;
			}
		}

	}

	.edit-link {
		display: none !important;
	}

	.attendee-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.attendee-name {
		font-size: 36px;
		display: block;
	}

	.attendee-byline {
		font-size: 28px;
		display: block;
	}

	// Footer
	.site-footer {
		text-align: center;
	}

	.site-info, .site-info a {
		color: #000;
		font-size: 28px;
		text-decoration: none;
	}

}

#attendees {
	width: 1000px;
	overflow: hidden;
	padding-bottom: 70px;
	position: relative;
	margin: 0 auto;
	margin-bottom: 2.5em;
	text-align: left;

	.attendee_item {
		width: 200px;
		height: 223px;
		position: relative;
		display: inline-block;
	}

	.hexagon2 {
		position: absolute;
		width: 200px;
		height: 400px;
		top: -85px;
	}

	.hexagon {
		overflow: hidden;
		visibility: hidden;

		-webkit-transform: rotate(120deg);
		-moz-transform: rotate(120deg);
		-o-transform: rotate(120deg);
		-ms-transform: rotate(120deg);
		transform: rotate(120deg);
//		cursor: pointer;
	}

	.hexagon-in1 {
		overflow: hidden;
		width: 100%;
		height: 100%;

		-webkit-transform: rotate(-60deg);
		-moz-transform: rotate(-60deg);
		-o-transform: rotate(-60deg);
		-ms-transform: rotate(-60deg);
		transform: rotate(-60deg);
	}

	.hexagon-in2 {
		-webkit-box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.5);
		box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.5);
		overflow: hidden;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: 50%;

		-webkit-background-size: 125%;
		-moz-background-size: 125%;
		background-size: 125%;
		visibility: visible;

		-webkit-transform: rotate(-60deg);
		-moz-transform: rotate(-60deg);
		-o-transform: rotate(-60deg);
		-ms-transform: rotate(-60deg);
		transform: rotate(-60deg);

	}

	.hexagon-in2:hover {
		-webkit-box-shadow: inset 0 0 0 0px #ffffff;
		box-shadow: inset 0 0 0 0px #ffffff;
	}

	#attendees article {
		padding-top: 1em;
		width: 820px;
		margin: 0 auto;
	}

	.attendee_item:nth-child(7n-2) {
		margin-left: 101px;
	}
	.attendee_item:nth-child(n+5) {
		margin-top: -55px;
	}

}

@media (max-width: 1015px) {
	#attendees {
		width: 100%;
	}
}

@media (max-width: 893px) {
	.attendee_item:nth-child(5n-1) {
		margin-left: 102px;
	}
	.attendee_item:nth-child(n+4) {
		margin-top: -62px;
	}
	.attendee_item:nth-child(n+5) {
		margin-top: -56px;
	}
	.attendee_item:nth-child(7n-2) {
		margin-left: 0px !important;
	}
	#attendees article {
		width: 610px;
		margin: 0 auto;
	}
}

@media (max-width: 640px) {
	#attendees article {
		width: 405px;
	}
	.attendee_item:nth-child(5n-1) {
		margin-left: 0px;
	}
	.attendee_item:nth-child(3n) {
		margin-left: 102px;
	}
	.attendee_item:nth-child(n+3) {
		margin-top: -56px;
	}
}

@media (max-width: 450px) {
	#attendees article {
		width: 300px;
	}
	.attendee_item:nth-child(3n) {
		margin-left: 0px;
	}
	.attendee_item:nth-child(2n) {
		margin-left: 102px;
	}
	.attendee_item:nth-child(n+2) {
		margin-top: -56px;
	}
}